<!-- <div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <div class="text-center">
                {{Message}}
            </div>
            <input type="text"
            ngModel
            name="userName"
            id="userName"
            placeholder="Enter your username"
            class="form-control mb-3"
            >

            <input type="password"
            ngModel
            name="userPassword"
            id="userPassword"
            placeholder="Enter your password"
            class="form-control mb-3"
            >

            <input type="submit"
            value="Login"
            class="btn btn-outline-primary form-control rounded-0">
        </form>
        
    </div>
</div> -->



<!-- <div class="backgorund">



<br>
<br>
<br>
<br>


<img src='../assets/images/abo3abd.jpeg' class="UI"/>


<div class="signup-form" style="background-color: white;">
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="text-center">
            {{Message}}
        </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input matInput placeholder="Username"   ngModel
            name="userName"
            id="userName" required>
      </div>
    

         <div class="form-group">
        <label for="password">Password</label>
      <input matInput placeholder="Password"   ngModel
            name="userPassword"
            id="userPassword" required>
      </div>


      <button type="submit">Login</button>
    </form>
  </div> 
  



    

</div> -->










<div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <h1 style="color: white;">Login to your account</h1>
        <div class="col-lg-12">
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <p style="color: white;">{{Message}}</p>
          <div class="buttons">
            <div class="main-button">
              <p>UserName:</p>
              <input ngModel
              name="userName"
              id="userName" required>
            </div>
            <div class="border-button">
              <p>Password:</p>
              <input  ngModel
              name="userPassword"
              id="userPassword" type="password" required>
            </div>
          </div>
          <br>
            <br>

            <input type ="submit" 
            style = "background-color: #8458f4; /* Button background color */
            color: #fff; /* Text color */
            border: none;
            padding: 10px 20px; /* Adjust padding to your preference */
            border-radius: 5px; /* Rounded corners */
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease; ">


<br>

<br>
<a routerLink="/forget" style = "font-size: small;
color: #fff;">Forget password? </a>
<br>
<br>


<div style="margin-left: 550px;">
<div
id="g_id_onload"
data-client_id="1029550794797-p99gig8h7vek6v1c7po7peevepin33vi.apps.googleusercontent.com"
data-context="use"
data-ux_mode="popup"
data-itp_support="true"
data-callback="handleCredentialResponse"
></div>
<!-- data-auto-select="true" -->
<div
class="g_id_signin"
data-type="standard"
data-shape="pill"
data-theme="filled_blue"
data-text="signin_with"
data-size="large"
data-logo_alignment="left"
></div>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

            </form>


    
           
            
        </div>
        <div>
         
        </div>
       
      </div>
     
    </div>
   
  </div>
  