<div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>EDS Security</h6>
            <h2>Bridging the Digital Divide</h2>
            <p> creating quality customer experiences, delivering the best types of encryption and decryption </p>
            <div class="buttons">
              <div class="border-button">
                <a routerLink="/encrypt">Encrypt</a>
              </div>
              <div class="main-button">
                <a routerLink="/decrypt">Decrypt</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
   
        <div class="col-lg-5 offset-lg-1">
          <div class="owl-banner owl-carousel">
            <div class="item">
              <img src="assets/images/dds.jpeg" alt="">
            </div>
            <div class="item">
              <img src="assets/images/m.jpeg" alt="">
            </div>
          </div>
        </div>
     
      </div>
    </div>
  </div>
