<!-- <div class="page-heading normal-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Profile information</h1>
        <div class="buttons">
          <div class="main-button">
            <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
              <p>UserName:</p>
              <input   type="text"   [(ngModel)]="username" name="userName" id="userName"  disabled>
              <br><br>
              <p>Email:</p>
              <input value="{{ userEmail }}" ngModel name="userEmail" id="userEmail" type="email">
              <br><br>
              <p>First Name:</p>
              <input type="text" value="{{ userFirstName }}" ngModel name="userFirstName" id="userFirstName">
              <br><br>
              <p>Password:</p>
              <input type="password"  [(ngModel)]="password" name="userPassword" id="userPassword">              <br><br>
              <input type="submit" name="submit" value="Save changes" style="background-color: #8458f4; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 16px; transition: background-color 0.3s ease;">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 style="color: white;">Change password</h1>
      
          <form #registerForm="ngForm" (ngSubmit)="updatePassword(registerForm)">
            <div class="buttons">
              <div class="main-button">
                <span style="color: red;"> </span>
                <br>
                
  
                <input type="text" ngModel name="userName" id="userName"  [(ngModel)]="username" hidden>
  
             
                <input  name="userFirstName" id="userFirstName" ngModel [(ngModel)]="userFirstName"   name="userFirstName"  hidden>
                <br>
                <br>
                <input type="text"  name="userEmail" id="userEmail" type="email" [(ngModel)]="userEmail" ngModel hidden pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
                
                <br>
                <br>
                <p>Enter New Password:</p>
                <input ngModel name="userPassword" id="userPassword" type="password"  ngModel required>
              </div>
            </div>
            <br>
            <br>
            <input type="submit" name="submit" value="Change" style="background-color: #8458f4; /* Button background color */
            color: #fff; /* Text color */
            border: none;
            padding: 10px 20px; /* Adjust padding to your preference */
            border-radius: 5px; /* Rounded corners */
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease; margin-right:10px ;">
          
          </form>
       
          
        </div>
      </div>
    </div>
  </div>

  
  
  